<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Einstein Puzzle Printouts</title>
</head>
<body>
    <main>
        <h1>Einstein Puzzle Printouts</h1>
        <h2>Puzzles</h2>
        <% sources.forEach( (source) => { %>
            <h3><%= source.name %></h3>
            <% let puzzlesByDifficulty = {} %>
            <% source.puzzles.forEach( (puzzle) => { %>
                <% if (puzzlesByDifficulty[puzzle.data.difficulty] === undefined) { %>
                    <% puzzlesByDifficulty[puzzle.data.difficulty] = [] %>
                <% } %>
                <% puzzlesByDifficulty[puzzle.data.difficulty].push(puzzle) %>
            <% }) %>
            <% let difficulties = Object.keys(puzzlesByDifficulty) %>
            <% difficulties.forEach( (difficulty) => { %>
                <h4><%= difficulty %></h4>
                <ul>
                    <% puzzlesByDifficulty[difficulty].forEach( (puzzle) => { %>
                        <li><a href="/puzzles/<%= source._id %>/<%= puzzle._id %>"><%= puzzle.data.name %></a></li>
                    <% }) %>
                </ul>
            <% }) %>
        <% }) %>
    </main>
    
    <!-- <form action="/sources/update" method="post">
        <button type="submit">Update Sources</button>
    </form> -->
    <!-- <form action="/sources/new" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="url">Url:</label>
        <input type="text" name="url">
        <label for="subUrl">Sub-url:</label>
        <input type="text" name="subUrl">
        <button type="submit">Add Source</button>
    </form> -->
</body>
</html>